/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 25em;
}

#main_border{
  border: 1px solid black;
}

#pokedex_border{
  border: 1px solid black;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
